In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('energydata_complete.csv')
df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [3]:
df.describe()

,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
count,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,...,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000
mean,97.694958,3.801875,21.686571,40.259739,20.341219,40.420420,22.267611,39.242500,20.855335,39.026904,...,19.485828,41.552401,7.411665,755.522602,79.750418,4.039752,38.330834,3.760707,24.988033,24.988033
std,102.524891,7.935988,1.606066,3.979299,2.192974,4.069813,2.006111,3.254576,2.042884,4.341321,...,2.014712,4.151497,5.317409,7.399441,14.901088,2.451221,11.794719,4.194648,14.496634,14.496634
min,10.000000,0.000000,16.790000,27.023333,16.100000,20.463333,17.200000,28.766667,15.100000,27.660000,...,14.890000,29.166667,-5.000000,729.300000,24.000000,0.000000,1.000000,-6.600000,0.005322,0.005322
25%,50.000000,0.000000,20.760000,37.333333,18.790000,37.900000,20.790000,36.900000,19.530000,35.530000,...,18.000000,38.500000,3.666667,750.933333,70.333333,2.000000,29.000000,0.900000,12.497889,12.497889
50%,60.000000,0.000000,21.600000,39.656667,20.000000,40.500000,22.100000,38.530000,20.666667,38.400000,...,19.390000,40.900000,6.916667,756.100000,83.666667,3.666667,40.000000,3.433333,24.897653,24.897653
75%,100.000000,0.000000,22.600000,43.066667,21.500000,43.260000,23.290000,41.760000,22.100000,42.156667,...,20.600000,44.338095,10.408333,760.933333,91.666667,5.500000,40.000000,6.566667,37.583769,37.583769
max,1080.000000,70.000000,26.260000,63.360000,29.856667,56.026667,29.236000,50.163333,26.200000,51.090000,...,24.500000,53.326667,26.100000,772.300000,100.000000,14.000000,66.000000,15.500000,49.996530,49.996530

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 29 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         19735 non-null  object
 1   Appliances   19735 non-null  int64
 2   lights       19735 non-null  int64
 3   T1           19735 non-null  float64
 4   RH_1         19735 non-null  float64
 5   T2           19735 non-null  float64
 6   RH_2         19735 non-null  float64
 7   T3           19735 non-null  float64
 8   RH_3         19735 non-null  float64
 9   T4           19735 non-null  float64
 10  RH_4         19735 non-null  float64
 11  T5           19735 non-null  float64
 12  RH_5         19735 non-null  float64
 13  T6           19735 non-null  float64
 14  RH_6         19735 non-null  float64
 15  T7           19735 non-null  float64
 16  RH_7         19735 non-null  float64
 17  T8           19735 non-null  float64
 18  RH_8         19735 non-null  float64
 19  T9           19735 non-null  float64
 20  RH_9         19735 non-null  float64
 21  T_out        19735 non-null  float64
 22  Press_mm_hg  19735 non-null  float64
 23  RH_out       19735 non-null  float64
 24  Windspeed    19735 non-null  float64
 25  Visibility   19735 non-null  float64
 26  Tdewpoint    19735 non-null  float64
 27  rv1          19735 non-null  float64
 28  rv2          19735 non-null  float64
dtypes: float64(26), int64(2), object(1)
memory usage: 4.4+ MB

In [4]:
df.isna().any()

date           False
Appliances     False
lights         False
T1             False
RH_1           False
T2             False
RH_2           False
T3             False
RH_3           False
T4             False
RH_4           False
T5             False
RH_5           False
T6             False
RH_6           False
T7             False
RH_7           False
T8             False
RH_8           False
T9             False
RH_9           False
T_out          False
Press_mm_hg    False
RH_out         False
Windspeed      False
Visibility     False
Tdewpoint      False
rv1            False
rv2            False
dtype: bool

In [15]:
# Question 12
x, y = df[['T2']], df['T6']
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=2)
from sklearn.linear_model import LinearRegression
linear_model = LinearRegression()
linear_model.fit(x_train, y_train)
from sklearn.metrics import r2_score
round(r2_score(y_test, linear_model.predict(x_test)), 2)

0.64

In [36]:
# Question 13
from sklearn.preprocessing import MinMaxScaler
df_copy = df.drop(columns=['date', 'lights'])
scaler = MinMaxScaler()
norm_df = pd.DataFrame(scaler.fit_transform(df_copy), columns=df_copy.columns)
x = norm_df.drop(columns=['Appliances'])
y = norm_df['Appliances']
x_train, x_test, y_train, y_test = train_test_split(x, y, train_size=0.7, test_size=0.3, random_state=42)
from sklearn.linear_model import LinearRegression
linear_model = LinearRegression()
linear_model.fit(x_train, y_train)
from sklearn.metrics import mean_absolute_error
round(mean_absolute_error(y_test, linear_model.predict(x_test)), 2)

0.05

In [44]:
# Question 14
from sklearn.metrics import mean_absolute_error
t  = mean_squared_error(y_test, linear_model.predict(x_test))
error = t * x_test.shape[0]
round(error, 2)

45.34

In [37]:
# Question 15
from sklearn.metrics import mean_squared_error
round(np.sqrt(mean_squared_error(y_test, linear_model.predict(x_test))), 3)

0.088

In [26]:
# Question 16
round(r2_score(y_test, linear_model.predict(x_test)), 2)

0.15

In [35]:
# Question 17
weights = pd.Series(linear_model.coef_, x_train.columns).sort_values()
weights_df = pd.DataFrame(weights).reset_index()
weights_df.columns = ['Features','weight' ]
min_value, max_value = np.min(weights_df['weight']), np.max(weights_df['weight'])
weights_df.sort_values(by='weight')

       Features        weight
0           rv2 -2.219382e+11
1          RH_2 -4.567699e-01
2         T_out -3.220071e-01
3            T2 -2.361966e-01
4            T9 -1.899221e-01
5          RH_8 -1.576066e-01
6        RH_out -7.770744e-02
7          RH_7 -4.455795e-02
8          RH_9 -3.980120e-02
9            T5 -1.567787e-02
10           T1 -3.281051e-03
11  Press_mm_hg  6.853342e-03
12           T7  1.027182e-02
13   Visibility  1.229110e-02
14         RH_5  1.602009e-02
15         RH_4  2.636302e-02
16           T4  2.897011e-02
17    Windspeed  2.919409e-02
18         RH_6  3.808389e-02
19         RH_3  9.594562e-02
20           T8  1.020135e-01
21    Tdewpoint  1.178244e-01
22           T6  2.364873e-01
23           T3  2.907092e-01
24         RH_1  5.536741e-01
25          rv1  2.219382e+11

In [48]:
# 18
from sklearn.linear_model import Ridge
ridge_reg = Ridge(alpha = 0.4)
ridge_reg.fit(x_train, y_train)
# Question 15
from sklearn.metrics import mean_squared_error
round(np.sqrt(mean_squared_error(y_test, ridge_reg.predict(x_test))), 3)

0.088

In [51]:
# Question 19
weights = pd.Series(lasso_reg.coef_, x_train.columns).sort_values()
weights_df = pd.DataFrame(weights).reset_index()
weights_df.columns = ['Features','weight' ]
min_value, max_value = np.min(weights_df['weight']), np.max(weights_df['weight'])
weights_df.sort_values(by='weight')

       Features    weight
0            T9 -0.164785
1          RH_2 -0.164344
2          RH_8 -0.142142
3            T1 -0.051318
4          RH_7 -0.048415
5          RH_9 -0.028676
6            T5 -0.025671
16          rv2  0.000000
15           T2 -0.000000
14           T4 -0.000000
13         RH_4  0.000000
12           T7 -0.000000
10        T_out -0.000000
9   Press_mm_hg -0.000000
8        RH_out -0.000000
7     Tdewpoint -0.000000
11          rv1  0.000000
17   Visibility  0.007801
18         RH_5  0.008111
19         RH_6  0.010642
20           T6  0.025567
21    Windspeed  0.026814
22         RH_3  0.046184
23           T8  0.058432
24           T3  0.224450
25         RH_1  0.366220

In [49]:
# Question 20
from sklearn.linear_model import Lasso
lasso_reg = Lasso(alpha = 0.0001)
lasso_reg.fit(x_train, y_train)
from sklearn.metrics import mean_squared_error
round(np.sqrt(mean_squared_error(y_test, lasso_reg.predict(x_test))), 3)

0.088